

 
 <%- include("partials/header") -%>
 <link rel="stylesheet" href="/css/home.css">

<style>
  #header{
    background-image: url('/images/background.png');
    background-size: cover;
    /* filter: brightness(0.7); */
  }
  

</style>

<body>

  

<section id="header" class="container-fluid">
  <div class="hero-image">
      
  </div>
  <div class="hero-text">
    <h1 class="main-heading">Stay curious.</h1>
    <p class="intor">Explore a world of captivating stories, diverse perspectives, and insightful expertise. Scriblio is your destination to indulge in the joy of reading while connecting with a vibrant community of writers and thinkers.</p>
    
    <% if(user) {%>
      <a href="#posts"><button class="explore-btn">Explore</button> </a>
       <% }else{ %>
    <a href="/login"><button class="explore-btn">Login</button></a>
    <a href="/register"><button class="explore-btn">Register</button></a>
       <% } %>
</div>
</section>

    
<section id="posts" >

  <h1 class="post-heading">Some of our blogs</h1>
  <div class="post-container container-fluid">
    <%  posts.forEach(function(post){ %>
      <a href="/posts/<%=post._id%>" title="click to read more">
      <div class="card">
        <% if(post.image && post.image.data) { %>
        <img class="card-img-top card-image" src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Card image cap">
        <% } %>
        <div class="card-body">
          <p class="author"> Author: <%=post.author.firstName + " " + post.author.lastName %></p>
          <i>Created on: <%= post.dateTime.toLocaleString(); %></i>
          <p></p>
          <%if(post.title.length < 50){%>
            <h4 class="card-title"><%- post.title %></h4>
          <%}else{%>
            <h4 class="card-title"><%- post.title.substring(0,60) + "..." %></h4>
          <%}%>
          
          <p class="card-text">
             <%- post.content.substring(0, 0) + "" -%>
            
          </p>
        </div>
      </div>
      </a>
  
      <% }) %>
  </div>
</section>

    <% if(user){ %>
    <a href="/compose" title="click to write a new post"><button class="compose btn"><span class="fa-solid fa-pen-to-square"></span> Compose</button></a>
    <% } %>
    <h1> <%- startingContent %> </h1>
    <%- include("partials/footer"); -%>
