<link rel="stylesheet" href="/css/profile.css">
    <%- include("partials/header") -%>

<div class="page-container">
    <div class="name-edit">
        
    </div>
    <div class="v-card">
        <div class="sidebar">
            <p id="image-preview">
                
                <% if (!user.image || !user.image.data) { %>
                    <img src="/images/profile.png" alt="" class="photo">
                  <% } else { %>
                    <img class="photo" src="data:<%= user.image.contentType %>;base64,<%= user.image.data.toString('base64') %>" alt="user profile image">
                  <% } %>
                  
                  

                
                
            </p>
            <form action="/users/profile/photo" method="post" id="profile-photo" class="hidden" enctype="multipart/form-data">
                <input type="file" name="profilePhoto" id="profile-photo">
                <button type="submit">save photo</button>
            </form>
            <p>
                <a href="">View full size</a>
            </p>
            <div class="user-stats">
                <p class="sidebar-item item-key">joinded date</p>
                <p class="sidebar-item item-key">profile-view</p>
            </div>
        </div>
        <div class="content-after-sidebar">
            <h2><%= user.firstName + " " + user.lastName %></h2>
            <button class="edit-button">Edit profile</button>
            <hr>
            <h2>About me</h2>
            <table>
                <% const info = user.personalInfo %>
                <tbody>
                    <tr>
                        <th class="item-key">Gender</th>
                        <td><%= info.gender %></td>
                    </tr>
                    <tr>
                        <th class="item-key">Location</th>
                        <td>
                            <%= info.location %>
                        </td>
                    </tr>
                    <tr>
                        <th class="item-key">Introduction</th>
                        <td><%= info.introduction %></td>
                    </tr>
                    <tr>
                        <th class="item-key">Interests</th>
                        <td>
                            <span class="favorites"><%= info.interests %></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="item-key">message for user</p>
        </div>
    </div>
    <div class="edit-info hidden">
        <form action="/users/profile/info" method="post">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          
            <label for="location">Location:</label>
            <input type="text" name="location" id="location">
          
            <label for="introduction">Introduction:</label>
            <textarea name="introduction" id="introduction" rows="4"></textarea>
          
            <label for="interests">Interests:</label>
            <textarea name="interests" id="interests" rows="4"></textarea>
          
            <button type="submit">Save info</button>
          </form>
    </div>
    <div class="user-blog-list">
        <% if(posts.length==0){ %>
            <i>This User haven't written any post yet</i>
       <% } %>
        <%  posts.forEach(function(post){ %>
            
            <div class="blog-card">
              <% if(post.image && post.image.data) { %>
              <img class="card-img-top card-image" src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Card image cap">
              <% } %>
              <div class="blog-title">
                    <p class="author"> By: <%=post.author.firstName + " " + post.author.lastName %></p>
                    <a href="/posts/<%=post._id%>" title="click to read more">
                    <%if(post.title.length < 50){%>
                    <h4 class="card-title"><%- post.title %></h4>
                    <%}else{%>
                    <h4 class="card-title"><%- post.title %></h4>
                    <%}%>
                    </a>
                    <p class="card-text">
                    <%- post.content.substring(0, 0) + "" -%>
                    </p>
                    <p>
                        Created on: <%= post.dateTime.toLocaleString(); %>
                    </p>
                    <p>
                        <!-- form inside loop sould have different id -->
                        <form action="/posts/delete" method="post" id="deletePostForm-<%= post._id %>">
                            <input type="hidden" name="postId" value="<%= post._id %>"></input>
                            <p><%= post._id %></p>
                            <i class="fa-solid fa-trash" data-toggle="modal" data-target="#exampleModal-<%= post._id %>"></i>
                            <div class="modal fade" id="exampleModal-<%= post._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                         Do you want to delete this post permanently?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                                        <button type="submit" class="btn btn-primary delete-btn">Confirm</button>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </form>
                        
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
              </div>
            </div>
            
        
            <% }) %>
    </div>
    
</div>

  
<script>
            // Get references to the file input and image preview elements
            const fileInput = document.getElementById('profile-photo');
        const imagePreview = document.getElementById('image-preview');

        // Add an event listener to the file input
        fileInput.addEventListener('change', function (event) {
          const file = event.target.files[0]; // Get the selected file

          // Check if a file is selected
          if (file) {
            const reader = new FileReader(); // Create a FileReader object

            // Set up the FileReader onload event
            reader.onload = function (e) {
              // Create an image element
              const img = document.createElement('img');
              img.src = e.target.result; // Set the source of the image to the FileReader result

              // Append the image element to the image preview div
              imagePreview.innerHTML = '';
              imagePreview.appendChild(img);
            };

            // Read the file as a data URL
            reader.readAsDataURL(file);
          } else {
            // No file selected, clear the image preview
            imagePreview.innerHTML = '';
          }
          
        });
        
        const editButton = document.querySelector(".edit-button");
        editButton.addEventListener("click", ()=>{
            const editOption = document.querySelector(".edit-info");
            const profilePhoto = document.getElementById("profile-photo");
            profilePhoto.classList.toggle("hidden");
            editOption.classList.toggle("hidden");
        })
        
        // const deleteBlog = document.querySelector(".delete-btn");

        // deleteBlog.addEventListener("click",()=>{
        //     $.ajax({
        //         type: 'POST',
        //         url: '/posts/delete',
        //         data: $('#deletePostForm').serialize(),
        //         success: function(response) {
        //             console.log(response);
        //             if(response){   

        //             }else{               
                            
        //             }
        //             // Update the page dynamically based on the response
        //             // ...
        //         },
        //         error: function(error) {
        //             console.error(error);
        //         }
        //         });
        //     })
</script>
</body>
</html>